<div class="background-show" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= @cocktail.image_url %>);">
  <div class="cocktail-card">
    <%= image_tag @cocktail.image_url, alt: @cocktail.name, class: "cocktail-img" %>
    <div class="cocktail-info">
      <h5><%= @cocktail.name %></h5>
      <hr>
      <div class="cocktail-recipe">
        <% @doses.each do |d| %>
        <p><%= d.description %> of <%= d.ingredient.name %> - <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, dose_path(d), method: :delete, class: "deleted" %></p>
        <% end %>
      </div>
    <br>
    <%= link_to 'Modify the recipe', new_cocktail_dose_path(@cocktail), class: "btn btn-outline-info light-btn" %>
  </div>
</div>



<script>
  trashes = document.querySelectorAll('.deleted');
  trashes.forEach( (trash) => {
  trash.addEventListener("click", (event) => {
  event.preventDefault();
  const link = trash["href"];
    if (window.confirm("Are you sure you want to delete that ingredient?")) {
    window.location = link;
  } else {
    event.stopPropagation();
  }
  });
});
</script>
